In [ ]:

#학생 등록 여부 조회 기능
#신규 학생 성적 입력 기능
#학생별 성적 따로 보관 기능
#최저, 최고, 평균 점수 출력 기능
#반복해서 조회 및 입력 기능
#종료 기능


#더 완벽하게 하려면 0~100점 범위 초과 입력시 예외처리도 해야하지만 잡다한 것은 넘어감


subject = ["국어", "영어", "수학", "사회", "과학"] #과목 리스트

student = {} #학생목록 딕셔너리. 이름(str):성적묶음(dic)



while True : #무한루프
    

    stu_name = input("이름을 입력하세요. 종료하려면 exit를 입력하세요.") #이름 입력

    
    
    if stu_name in student : #학생 목록에 존재하는지 확인
        
        score = student[stu_name] #해당하는 성적묶음 딕셔너리 호출

        for (i, k) in score.items() : #과목별 점수 출력
            print(i + str(k))
        
        min = 100 #최저 점수 출력용 변수 선언
        min_sub = "최저 과목"
        max = 0 #최고 점수 출력용 변수 선언
        max_sub = "최고 과목"

        sum = 0 #점수 총합 계산용 변수 선언
        sub_num = 0 #과목 숫자 카운트 변수 선언

        for (i, k) in score.items() :
            sum += k
            sub_num += 1

            if k <= min :
                min = k
                min_sub = i

            if k >= max :
                max = k
                max_sub = i

        average = sum / sub_num #평균 점수 출력용 변수 생성
        print("최저 점수: " + min_sub + str(min)) #최저 점수 출력
        print("최고 점수: " + max_sub + str(max)) #최고 점수 출력
        print("평균 점수: " + str(average)) #평균 점수 출력
        



    elif stu_name == "exit" : #무한루프 종료 트리거
        print("성적 프로그램 종료")
        break



    else : #존재하지 않으면 성적 입력받기
        score = {} #성적묶음 딕셔너리. 과목(str):성적(int) #성적묶음 딕셔너리 생성.
        student[stu_name] = score #학생목록 딕셔너리에 해당 이름 등록

        for i in subject : #과목별 점수 입력
            score[i] = int(input(i + "성적을 입력하라"))

        for (i, k) in score.items() : #과목별 점수 출력
            print(i + str(k))


        min = 100 #최저 점수 출력용 변수 선언
        min_sub = "최저 과목"
        max = 0 #최고 점수 출력용 변수 선언
        max_sub = "최고 과목"


        sum = 0 #점수 총합 계산용 변수 선언
        sub_num = 0 #과목 숫자 카운트 변수 선언

        for (i, k) in score.items() :
            sum += k
            sub_num += 1

            if k <= min :
                min = k
                min_sub = i

            if k >= max :
                max = k
                max_sub = i

        average = sum / sub_num #평균 점수 출력용 변수 생성
        print("최저 점수: " + min_sub + str(min)) #최저 점수 출력
        print("최고 점수: " + max_sub + str(max)) #최고 점수 출력
        print("평균 점수: " + str(average)) #평균 점수 출력

이름을 입력하세요. 종료하려면 exit를 입력하세요.정범준
국어성적을 입력하라100
영어성적을 입력하라25
수학성적을 입력하라90
사회성적을 입력하라80
과학성적을 입력하라75
국어100
영어25
수학90
사회80
과학75
최저 점수: 영어25
최고 점수: 국어100
평균 점수: 74.0

#

학생 이름을 입력해주세요병곤
국어 점수를 입력해주세요15
영어 점수를 입력해주세요62
수학 점수를 입력해주세요46
사회 점수를 입력해주세요98
과학 점수를 입력해주세요34
다른 학생의 정보를 입력하시겠습니까? '네' '아니오'로 대답해주세요아니오
점수를 알고 싶은 학생 이름을 말해주세요. 없다면 "그만"이라고 해주세요: 병곤
최저 점수 : 15
최고 점수 : 98
평균 점수 : 51.0
점수를 알고 싶은 학생 이름을 말해주세요. 없다면 "그만"이라고 해주세요: 그만

성적을 입력하세요. (국어 영어 수학 사회 과학) :24 34 64 94 30
최저 점수: 국어
 최고 점수: 사회
 평균 점수: 49.2

판매할 메뉴를 선정해 주세요. : 우유 치즈 이슬
각 메뉴의 가격을 책정하세요. : 1000 2000 3000
-------- MENU --------
1 - {'우유': 1000}
2 - {'치즈': 2000}
3 - {'이슬': 3000}
어서오세요!
원하시는 메뉴 번호를 하나 골라주세요 : 3
해당 메뉴를 몇 개 드릴까요? : 3
현재까지 총 금액은 9000 메소 입니다.
구매를 중단하고 결제하시겠습니까? 결제를 원하시면 숫자 0을 입력해 주세요.2
원하시는 메뉴 번호를 하나 골라주세요 : 2
해당 메뉴를 몇 개 드릴까요? : 2
현재까지 총 금액은 13000 메소 입니다.
구매를 중단하고 결제하시겠습니까? 결제를 원하시면 숫자 0을 입력해 주세요.0
구매하신 총 금액은 13000 메소 입니다. 감사합니다 또오세요!
---------영수증---------
<메뉴> 	 <개수> 	 <금액>
2 	 2 	 4000
3 	 3 	 9000
축하합니다! 1만 메소 이상 구매로 10% 할인이 적용되었습니다!
총 금액 : 11700
-----------------------

메뉴 번호: 1 | 포션 이름: 치유의 물약 | 가격: 3000
메뉴 번호: 2 | 포션 이름: 속도의 물약 | 가격: 4000
메뉴 번호: 3 | 포션 이름: 강화의 물약 | 가격: 5000
어느 포션을 구입하시겠어요? 메뉴 번호로 말씀해주세요.1
몇개 주문하시겠어요?1
추가 주문 하시겠어요? 주문하시려면 "네", 그만 주문하시려면 "0"을 입력해주세요: 네
어느 포션을 구입하시겠어요? 메뉴 번호로 말씀해주세요.3
몇개 주문하시겠어요?1
추가 주문 하시겠어요? 주문하시려면 "네", 그만 주문하시려면 "0"을 입력해주세요: 0
감사합니다. 안녕히가세요
손님이 주문한 내역은 아래와 같습니다.
1 번 물품 1 개
 ------------------------------
3 번 물품 1 개
 ------------------------------